.frame2-box-plot-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.frame2-box-plot-frame2-box-plot {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
  justify-content: flex-start;
  background-color: rgba(248, 249, 250, 1);
}
 
.frame2-box-plot-header {
  top: 0px;
  left: 0px;
  width: 1902px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(203, 211, 219, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(233, 240, 244, 1);
}
 
.frame2-box-plot-frames10 {
  top: 9.5px;
  left: 16px;
  width: 288px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
}
 
.frame2-box-plot-text10 {
  top: -1px;
  color: rgb(51, 51, 51);
  left: 30px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-image1 {
  top: -4.5px;
  left: -9px;
  width: 28px;
  height: 29px;
  position: absolute;
}
 
.frame2-box-plot-frames11 {
  top: 15px;
  right: 40px;
  width: 176px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
}
 
.frame2-box-plot-image {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.frame2-box-plot-frames12 {
  top: 2px;
  left: 152px;
  width: 24px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
}
 
.frame2-box-plot-frame {
  top: 3.1999998092651367px;
  left: 18.015625px;
  width: 6px;
  height: 10px;
  position: absolute;
}
 
.frame2-box-plot-text11 {
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-text12 {
  top: 2px;
  left: 76px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-body {
  top: 40px;
  left: 0px;
  width: 1886px;
  height: 297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
}
 
.frame2-box-plot-overview-card {
  top: 16px;
  left: 16px;
  width: 1869px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
}
 
.frame2-box-plot-text13 {
  top: 5.5px;
  left: 13px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-overview {
  top: 26px;
  left: 1px;
  width: 1868px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: #f5f5f5;
  border-width: 1px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.frame2-box-plot-frames13 {
  top: 0px;
  left: 0px;
  width: 1870px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
}
 
.frame2-box-plot-frames14 {
  top: 0px;
  left: 0px;
  width: 191px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text14 {
  top: 0px;
  left: 70.09375px;
  color: rgb(51, 51, 51);
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-frames15 {
  top: 0px;
  left: 190.703125px;
  width: 229px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text15 {
  top: 0px;
  left: 84.421875px;
  color: rgba(51, 51, 51, 1);
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-frames16 {
  top: 0px;
  left: 419.546875px;
  width: 301px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text16 {
  top: 0px;
  left: 110.734375px;
  color: rgba(51, 51, 51, 1);
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-frames17 {
  top: 0px;
  left: 721.03125px;
  width: 301px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text17 {
  top: 0px;
  left: 110.734375px;
  color: rgba(51, 51, 51, 1);
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-frames18 {
  top: 0px;
  left: 1022.515625px;
  width: 193px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text18 {
  top: 0px;
  left: 71.359375px;
  color: rgba(51, 51, 51, 1);
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-text19 {
  top: 0px;
  left: 1285.875px;
  color: rgba(51, 51, 51, 1);
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-frames19 {
  top: 30px;
  left: 0px;
  width: 1406px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-frames20 {
  top: 0px;
  left: 0px;
  width: 191px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text20 {
  top: 5.5px;
  left: 80.5px;
  color: rgb(0, 123, 255);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-text21 {
  color: #007bff;
}
 
.frame2-box-plot-text22 {
  color: #000000;
}
 
.frame2-box-plot-text23 {
  color: #f59e0b;
}
 
.frame2-box-plot-frames21 {
  top: 0px;
  left: 190.703125px;
  width: 229px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text24 {
  top: 5.5px;
  left: 102.609375px;
  color: rgb(0, 123, 255);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-text25 {
  color: #007bff;
}
 
.frame2-box-plot-text26 {
  color: #000000;
}
 
.frame2-box-plot-text27 {
  color: #f59e0b;
}
 
.frame2-box-plot-frames22 {
  top: 0px;
  left: 419.546875px;
  width: 301px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text28 {
  top: 5.5px;
  left: 138.921875px;
  color: rgb(0, 123, 255);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-text29 {
  color: #007bff;
}
 
.frame2-box-plot-text30 {
  color: #000000;
}
 
.frame2-box-plot-text31 {
  color: #f59e0b;
}
 
.frame2-box-plot-frames23 {
  top: 0px;
  left: 721.03125px;
  width: 301px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text32 {
  top: 5.5px;
  left: 125.703125px;
  color: rgb(0, 123, 255);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 9.45602px;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-frames24 {
  top: 0px;
  left: 1022.515625px;
  width: 193px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame2-box-plot-text33 {
  top: 5.5px;
  left: 71.328125px;
  color: rgba(0, 123, 255, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 9.456018447875977px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-text34 {
  top: 5.5px;
  left: 1290.875px;
  color: rgba(74, 222, 128, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-table-card {
  left: 15px;
  width: 1873px;
  top: 50px;
  height: 761px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
}
 
.frame2-box-plot-card-title {
  top: 1px;
  left: 1px;
  width: 1870px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(221, 221, 221, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.frame2-box-plot-card-ops {
  top: 6px;
  right: 10px;
  width: 40px;
  height: 12px;
  /* display: none; */
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
}
 
.frame2-box-plot-label {
  top: 3px;
  left: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
}
 
.frame2-box-plot-selector {
  top: 1.1999998092651367px;
  left: 14px;
  width: 6px;
  height: 10px;
  position: absolute;
}
 
.frame2-box-plot-iconscaleup {
  top: -2.5px;
  left: 28px;
  width: 12px;
  height: 12px;
  position: absolute;
}
 
.frame2-box-plot-text35 {
  top: 4px;
  left: 12px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame2-box-plot-box-plot {
  top: 40px;
  left: 0px;
  width: 1874px;
  height: 725px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 1px;
}
 
.frame2-box-plot-iframe {
  width: 1873px;
  height: 727px;
}
 
.frame2-box-plot-link {
  display: contents;
}
 
.frame2-box-plot-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.frame2-box-plot-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.frame2-box-plot-text36 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.frame2-box-plot-table-card.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: white;
}

.fullscreen .frame2-box-plot-box-plot {
  height: calc(100% - 40px); /* Adjust for title bar */
  width: 100%;
}

.fullscreen .frame2-box-plot-iframe {
  height: 100%;
  width: 100%;
}
.fullscreen .frame2-box-plot-card-title{
  width: 100%;
}

.frame2-box-plot-iconscaleup {
  cursor: pointer;
}
